<%= form_with(model: movimentation) do |form| %>
  <% if movimentation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movimentation.errors.count, "error") %> prohibited this movimentation from being saved:</h2>

      <ul>
        <% movimentation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :operation, style: "display: block" %>
    <%= form.select :operation, Movimentation.operations.keys %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value %>
  </div>

  <div>
    <%= form.label :source_id, style: "display: block" %>
    <%= form.collection_select :source_id, current_user.sources ,:id,:name, include_blank: true %>
  </div>

  <div>
    <%= form.label :date_transaction, style: "display: block" %>
    <%= form.date_field :date_transaction, :value => Time.now.strftime('%Y-%m-%d') %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
