<p style="color: green"><%= notice %></p>

<%= render @movimentation %>

<div>
  <%= link_to "Edit this transaction", edit_movimentation_path(@movimentation) %> |
  <%= link_to "Back to transactions", movimentations_path %>

  <%= button_to "Destroy this transaction", @movimentation, method: :delete %>
</div>
