<p style="color: green"><%= notice %></p>

<%= render @transaction %>

<div>
  <%= link_to "Edit this transaction", edit_movimentation_path(@transaction) %> |
  <%= link_to "Back to transactions", movimentations_path %>

  <%= button_to "Destroy this transaction", @transaction, method: :delete %>
</div>
